@model PierresTreats.Models.Treat

<h2>Add a flavor</h2>

<h4>Add a flavor to this treat: @Html.DisplayFor(m => m.Name)</h4>

@using (Html.BeginForm())
{
  @Html.HiddenFor(m => m.TreatId)

  @Html.Label("Select flavor")
  @Html.DropDownList("FlavorId")
  <br>
  <button type="submit" value="Save" class="btn btn-primary">Save</button>
}