#log-out {
  padding: 0;
}

#nav-ul {
  display: flex;
}

#nav-ul li {
  list-style-type: none;
  padding-right: 1em;
  padding-top: 1em;
  font-size: 1.2rem;
}

#nav-li-2 {
  margin-left: auto;
}

h1 {
  text-align: center;
  padding-bottom: 1em;
}

#treats, #flavors {
  padding-bottom: 1em;
  text-align: center;
}

#links {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

#links p {
  padding-right: 1em;
}
