@model PierresTreats.Models.Flavor

<h3>Add a new flavor</h3>
@using (Html.BeginForm())
{
  @Html.LabelFor(m => m.Description)
  @Html.TextBoxFor(m => m.Description)
  <br>
  <button type="submit" value="Add new flavor" class="btn btn-primary">Add</button>
}