@model PierresTreats.Models.Flavor

<h2>Edit</h2>
<hr />
<h3>Edit this flavor: @Html.DisplayFor(m => m.Description)</h3>

@using (Html.BeginForm())
{
  @Html.HiddenFor(m => m.FlavorId);

  @Html.LabelFor(m => m.Description)
  @Html.TextBoxFor(m => m.Description)
  <br>
  <button type="submit" value="Save" class="btn btn-success">Save</button>
}